<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<title>select_finsh</title>
</head>
<body>
     <center>
	<table border =1>
		<tr>
			<td>$message1</td><td>$message2</td><td>$message3</td><td>$message4</td><td>$message5</td><td>$message6</td><td>$message7</td>
		</tr>
		<tr>
			<td>$info1</td><td>$info2</td><td>$info3</td><td>$info4</td><td>$info5</td><td>$info6</td><td>$info7</td>
		</tr>
	</table>
     </center>
</body>
</html>

